.white{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    background-color: #FFFFFF;
    outline: 1px solid #9BCC37;
    border:none;
    font-family: "Open Sans", serif;;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #9BCC37;
    padding: 0px 20px;
}

.white:hover{
    outline: 1px solid #77BA04;
    color: #77BA04;
}

.green{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-radius: 5px;
    background-color:#9BCC37;
    border: none;
    font-family: "Open Sans", serif;;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #fff;
    padding: 0px 20px;
}

.green:hover{
    background-color: #77BA04;
    outline: 1px solid #9BCC37;
}

@media(max-width: 894px) and (min-width: 380px){
    .white{
        padding: 0px;
    }
}