.wrapper{
    width: 100%;
    background-color: #E9E9E9;
    padding: 45px 10px;
}

.container{
    display: flex;
    align-items: center;
    gap: 22px;
}   

.values{
    height: 519px;
}

.tape{
    height: 566px;
}

.title{
    font-family: "Open Sans", serif;;
    font-weight: 300;
    font-size: 36px;
    color: #00b7ec;
    margin-bottom: 28px;
}
