.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 412px;
    width: 273px;
    border-radius: 5px;
    border-top: 0px;
    border: 1px solid white;
    background: linear-gradient(rgba(255, 255, 255, 0.16) 55.21%, rgba(7, 168, 219, 0.16) 100%);
    box-shadow: 0 2px 6px 0 rgba(102, 102, 102, 0.7);
    padding-bottom: 23px;
}

.image{
    width: 100%;
    height: 156px;
    margin-top: -2px;
    margin-bottom: 26px;
}

.title{
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 18px;
    color: #666;
    margin: 0px 22px;
}

.button{
    width: 224px;
    height: 40px;
    border-radius: 5px;
    background-color: transparent ;
    border:1px solid #00B7EC;
    font-family: "Open Sans", serif;;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #00b7ec;
}

.button:hover{
    background-color: #00b7ec ;
    border:1px solid white;
    color: white;
}
